
body {
  font-family: Source Sans Pro;
  background-color: #071629;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

header {
  background-image: url(images/pic_1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



@media screen and (max-width: 550px) {
  header {
  background-image: url(images/pic_1.jpg);
  background-position: -90vmin;
  background-size: cover;
  background-repeat: no-repeat;
  zoom: -5;
  }
}


.text-responsive {
  font-size: 10vw;
}

.purple-bg {
  background-color: #c271ff;
}

.purple-text {
  color: #c271ff;
}


.font-purple-text {
  font-size: 32px;
}

.font-names {
  font-size: 18px;
}


.get {
  margin-top: 90px;
}


.piece {
  margin-top: 320px;
}

.Carousel {
  height: 392px;
  background-color: #C271FF;
}

.carousel-img {
  position: relative;
  margin-top: 100px;
  margin-left: 250px;

}

.quotes-text {
  position: relative;
  margin-top: 120px;
}

.arrow {
  margin-top: 100px;

}

.carousel-font {
  font-size: 22px;
}

/* Centered play img */
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

[class^='holberton_school-icon-ic'] {
  font-size: 30px;
  color: #ffffff;
}